<div class="form-row">
  <div class="form-item">
    <label>Product Code</label>
    <input type="number" name="product_code" value="<%= item.product_code %>">
  </div>
  <div class="form-item">
    <label>Product Name</label>
    <input type="text" name="product_name" value="<%= item.product_name %>">
  </div>
  <div class="form-item">
    <label>Author</label>
    <select name="author"> 
      <% authors.forEach(author => { %>
        <% if (author.id === item.author) { %>
          <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
          <option label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label>Date</label>
    <input type="date" name="createdAt"
          value="<%= item.createdAt == null ? '' : item.createdAt.toISOString().split('T')[0] %>">
  </div>
  <div class="form-item">
    <label>Quantity</label>
    <input type="number" name="quantity" min="0" value="<%= item.quantity %>">
  </div>
</div>
<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Product Image</label>
    <input type="file" name="cover" class="item-cover filepond">
  </div>
  <div class="form-item">
    <label>Details</label>
    <textarea name="description" placeholder="Optional description"><%= item.description %></textarea>
  </div>
</div>