<h2 class="page-header"><%= item.product_name %></h2>
<div class="book-details">
  <div>
    <img class="book-cover" src="<%= item.coverImagePath %>">
    <div class="book-details-btn-grid">
      <a class="btn btn-primary" href="/items/<%= item.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/items/${item.id}` }) %>
      <a class="btn btn-primary book-details-author-button" href="/authors/<%= item.author.id %>">View Author</a>
    </div>
  </div>
  <div class="book-details-grid">
    <div class="book-details-label">Product Code:</div>
    <div><%= item.product_code %></div>
    <div class="book-details-label">Written by:</div>
    <div><%= item.author.name %></div>
    <div class="book-details-label">Date Entered:</div>
    <div><%= item.createdAt.toDateString() %></div>
    <div class="book-details-label">Quantity:</div>
    <div><%= item.quantity %></div>
    <div class="book-details-label">Product Details:</div>
    <div><%= item.description %></div>
  </div>
</div>