<section id="outbound">
  <div class="form-row">
  <h1>Product Outflow</h1>
</div>
<div class="form-row">
  <div class="form-item">
    <label> Current Quantity = 
      <% if (item.quantity == item.updatedQuantity) { %> 
        <%= item.quantity %>
      <% } else if (item.quantity > item.updatedQuantity) { %> 
        <%= item.updatedQuantity %>
      <% } else { %> 
        <%= item.quantity %>
      <% } %>
      </label>
    </div>
</div>
<div class="form-row" id="outbound">
  <div class="form-item">
    <label>Outbound Quantity</label>
    <input type="number" name="out_quantity" value="<%= item.out_quantity %>"> 
  </div>
  <div class="form-item">
    <label>Outbound Date</label>
    <input type="date" name="out_date" value="<%= item.out_date %> ">
  </div>
</div>
</section>

